
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SV ONLINE MVC</title>
</head>
<body>
    <div>  
	    XIN CHAO DEN VOI ALOOO
    </div>
</body>
</html>
